# Pandas Reference Page
***

### Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['Alpha', 'Bravo', 'Charlie']
data = [1, 2, 3]
arr = np.array(data)
d = dict(zip(labels, data))

In [3]:
pd.Series(data = data)

0    1
1    2
2    3
dtype: int64

In [4]:
pd.Series(data = data, index = labels)

Alpha      1
Bravo      2
Charlie    3
dtype: int64

In [5]:
pd.Series(d)

Alpha      1
Bravo      2
Charlie    3
dtype: int64

In [6]:
test = pd.Series(d)
print(test[0])
print(test['Bravo'])
print(test[-1])

1
2
3

In [7]:
print(test.keys())

Index(['Alpha', 'Bravo', 'Charlie'], dtype='object')

In [8]:
test2 = test + test
test2

Alpha      2
Bravo      4
Charlie    6
dtype: int64

### DataFrames

In [9]:
from numpy.random import randn

In [10]:
np.random.seed(101)

In [11]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [12]:
df['W'] # or df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [13]:
type(df['W'])

pandas.core.series.Series

In [14]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [15]:
df['W + Y'] = df['W'] + df['Y']
df

          W         X         Y         Z     W + Y
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [16]:
# Axis = 1 for columns, inplace = True to modify original copy
df.drop('W + Y', axis = 1, inplace = True)
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [17]:
df.drop('E', inplace = True) # axis = 0 by default, so no need to specify
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [18]:
print(df.shape)

(4, 4)